#contents {
    padding-top: 25px;
}

div {
    text-align: center;
}

* {
	margin: 0; padding: 0; border: 0; outline: none;
}




@media(max-width: 715px) {
    #contents {
        width:100%;
    }
    #zzang{
        max-width: 100%;
        height: auto;
    }
}



