* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(240, 215, 168);
}

/* header */
aside{
    text-align: center;
}

/* navigation */
nav{
    text-align: center;
}
#nav{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
    margin: 0px 40px;
}
li>a {
    display: block;
    color: #000000;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
li>a.current {
    background-color: #FF6347;
    color: white;
}
li>a:hover:not(.current) {
    background-color: #CD853F;
    color: white;
}